@page
@model RazorPageWithEF.Pages.Club.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].StadiumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].FounderYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].StadiumSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FootballClub) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FounderYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StadiumSize)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
